@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Cormorant:ital,wght@0,300;1,300&family=Dynalight&family=Inter:wght@300&family=Josefin+Sans&family=Josefin+Slab:wght@400;600&family=Jost:wght@500&family=Lato:wght@300&family=Poppins:ital,wght@0,200;0,300;0,400;1,300&family=Roboto:wght@300&display=swap');
.App {
    background-color:  #fff3d3;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    font-family: 'Lato', sans-serif;
}
*{
    list-style: none;
    color: aliceblue;
}
.header{
    text-align: center;
    color: #e28343;
}

